<h1>Menu Buscaminas</h1>

<h1>Crear Tablero Personalizado</h1>
<form method = "post" action="/personalizado">
    <label for="fila">Filas:</label>
    <input type = "text" id = "fila" name = "filas">
    <label for="columna">Columnas:</label>
    <input type = "text" id = "columna"name= "columnas">
    <input type = "submit" value = "Crear Tablero">
</form>
<h1>Dificultad</h1>
<form method = "post" action="/principiante">
    <input type = "submit" value = "Principiante">
</form>
<form method = "post" action="/intermedio">
    <input type = "submit" value = "Intermedio">
</form>


