<h1><%=@mensaje%></h1>
<form action='/'>
    <input id="reiniciar" type="submit" value="Volver al Menu">
</form>
<form method="post" action="/">
  <div id="tablero">
    <table>
      <%=@tablero%> 
    </table>
  </div>
</form>