<h1>Buscaminas</h1>
<h2>Banderas Restantes: <%=@banderas%></h2>
<form method = "post" action="/abrirCasilla">
    <label for="fila">Filas:</label>
    <input type = "text" id = "fila" name = "filas">
    <label for="columna">Columnas:</label>
    <input type = "text" id = "columna"name= "columnas">
    <input type = "submit" value = "abrir Casilla">
</form>
<form method = "post" action="/marcarCasilla">
    <label for="fila">Filas:</label>
    <input type = "text" id = "fila" name = "filas">
    <label for="columna">Columnas:</label>
    <input type = "text" id = "columna"name= "columnas">
    <input type = "submit" value = "marcar Casilla">
</form>
<form action='/'>
    <input id="reiniciar" type="submit" value="Volver al Menu">
</form>
<form method="post" action="/">
  <div id="tablero">
    <table>
      <%=@tablero%> 
    </table>
  </div>
  
</form>
